<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.nasvyazi.widget.passcard">
  <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission> -->
  <uses-permission android:name="android.permission.BLUETOOTH" tools:remove="android:maxSdkVersion" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" tools:remove="android:maxSdkVersion" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="28"/>
  <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30"/>
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <application>
    <service android:name=".service.BackgroundService" android:foregroundServiceType="connectedDevice" tools:node="merge" />
    <service
      android:name=".widget.WidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS">
    </service>
    <receiver
      android:name=".widget.PasscardWidget"
      android:exported="true" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
      <intent-filter>
        <action android:name="ACTION_AUTO_UPDATE_WIDGET" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/passcard_widget_info" />
    </receiver>
  </application>
</manifest>
